form {
  padding: 1em;
  border-radius: 0;
  border: 1px solid $blue;
  margin: 20px;
  width: 55vw;

  &.log-in {
    margin: auto;
  }

  .form-title {
    display: block;
    text-align: center;
    width: 80%;
    margin: 1em auto 2em auto;
    padding-bottom: .5em;
    border-bottom: 1px solid $blue-dark;
  }

  fieldset.well {
    display: inline-block;
    width: 25vw;
    margin: .5em;
    legend {
      font-size: 1em;
      border-bottom: none;
      margin: 0;

      span {
        background: $blue;
        font-weight: bold;
        padding: .5em;
        border-radius: .25em;
        color: $white;
      }

      .label {
        float: right;
        margin: 0;
        line-height: normal;
        padding-top: .25em;
        padding-bottom: .25em;

        &.label-success {
          background: $green-bright;
        }
        &.label-warning {
          background: darken($orange-desaturated, 20);
        }
        &.label-danger {
          background: $red;
        }
      }
    }
    .form-group {
      margin: 15px 0;
      input.form-control {
        border-radius: .25em;
        padding: 5px;
      }
    }
    select {
      margin: 15px 0;
      background: $white;
    }
  }

  .btn {
    background: $blue;
    border-radius: .25em;
    font-weight: bold;
    transition: background 1s, color 1s;
    margin: .5em;
    &:hover {
      background: $gray-brown;
      color: $white;
    }
  }
}
