form {
  padding: 40px;
  width: 30vw;
  border-radius: 0;
  border: 1px solid $blue;
  border-radius: .25em;
  margin: 20px;

  .form-title {
    border-bottom: 1px solid $dark-gray;
    margin: 0;
    padding-bottom: .5em;
    width: 100%;
  }

  fieldset.well {
    margin: 2em auto;
    legend {
      font-size: 1em;
      border-bottom: none;
      margin: 0;

      span {
        background: $blue;
        font-weight: bold;
        padding: .5em;
        border-radius: .25em;
        color: $white;
      }

      .label {
        float: right;
        margin: 0;
        line-height: normal;
        padding-top: .25em;
        padding-bottom: .25em;

        &.label-success {
          background: $green-bright;
        }
        &.label-warning {
          background: darken($orange-desaturated, 20);
        }
        &.label-danger {
          background: $red;
        }
      }
    }
    .form-group {
      margin: 15px 0;
      input.form-control {
        border-radius: .25em;
        padding: 5px;
      }
    }
    select {
      margin: 15px 0;
      background: $white;
    }
  }

  .btn {
    background: $blue;
    border-radius: .25em;
    font-weight: bold;
    transition: background 1s, color 1s;
    &:hover {
      background: $light-blue;
      color: $dark-gray;
    }
  }
}
