form {
  padding: 1em;
  border-radius: 0;
  border: 1px solid $blue;
  margin: 20px;
  width: 55vw;

  &.log-in {
    margin: auto;
    fieldset.well {
      display: block;
      margin: auto;
    }
    button.btn {
      display: block;
      margin: auto;
      width: 25vw;
      border: 1px solid $blue;
      &:hover {
        border-color: $gray-brown;
      }
    }
  }

  .alert.alert-danger {
    background-color: $red-error;
    color: $dark-gray;
    font-weight: bold;
  }

  .form-title {
    display: block;
    text-align: center;
    width: 80%;
    margin: 1em auto 2em auto;
    padding-bottom: .5em;
    border-bottom: 1px solid $blue-dark;
  }

  fieldset.well {
    display: inline-block;
    width: 25vw;
    margin: .5em;
    position: relative;
    legend {
      font-size: 1em;
      width: auto;
      margin: auto;
      font-weight: bold;
      padding: 5px 10px;
      line-height: 1em;
      border-radius: 4px;
      background: $blue;
      color: $white;
    }
    .badge {
      position: absolute;
      right: 0;
      bottom: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 4px;
      line-height: normal;
      padding: 1em;

      &.badge-success {
        background: $green-bright;
      }
      &.badge-warning {
        background: darken($orange-desaturated, 20);
      }
      &.badge-danger {
        background: $red;
      }
    }
    .form-group {
      margin: 15px 0;
      input.form-control {
        border-radius: .25em;
        padding: 5px;
      }
    }
    select {
      width: 50%;
      background: $white;
    }
  }

  .btn {
    background: $blue;
    border-radius: .25em;
    font-weight: bold;
    transition: background 1s, color 1s;
    margin: .5em;
    &:hover {
      background: $gray-brown;
      color: $white;
    }
  }
}
