nav.navbar-default {
  background-color: $blue;
  border-radius: 0;
  padding: 20px;
  .navbar-header {
    span {
      color: $white;
      font-size: 1.5em;
      margin: 0 1em;
      padding: 0;
      &:hover {
        color: $white;
      }
    }
    .navbar-brand {
      background: $white;
      padding: 5px;
      height: 40px;
    }
  }
  .navbar-btn {
    .logoutIcon {
      width: 1.5em;
      height: 1.5em;
      fill: $white;
      &:hover {
        fill: $dark-gray;
      }
    }
    float: right;
    margin: 0;
    &:hover {
      background: $white;
      transition: background .5s;
    }
  }
}
