.panel {
  display: block;
  margin: .5em 0;
}

.panel-heading {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: background .5s;
  span {
    color: $black;
    transition: color .5s;
    font-weight: bold;
  }

  &:hover {
    svg {
      fill: $white;
    }
    span {
      color: $white;
    }
  }

}

.panel-success .panel-heading {
  background: tint($green-dark, 30%);
  &:hover {
    background: $green-dark;
  }
}
.panel-warning .panel-heading {
  background: tint($orange, 30%);
  &:hover {
    background: darken($orange, 25);
  }
}
.panel-danger .panel-heading {
  background: lighten($red, 10);
  &:hover {
    background: darken($red, 10);
  }
}

.panel-body {
  padding: 1.5em;
  min-height: 600px;
}
