.tabs {
  padding: 0;
  margin: 0;
  .tab-navs {
    list-style: none;
    padding: 0;
    .tab-nav {
      display: inline-block;
      &.current {
        button {
          background: $blue;
          color: $white;
        }
      }
      button {
        background: $light-gray;
        color: $dark-gray;
        margin-right: .25em;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        transition: background .5s, color .5s;
        &:hover {
          background: $gray-brown;
          color: $white;
        }
        &:active, &:focus {
          color: $white;
        }
      }
    }
  }
  .tab-content {
    border: 1px solid $blue;
  }
}
