button.btn, a.btn {
  display: block;
  color: $white;
  &:not(.btn-danger) {
    background: $blue;
  }
  &.btn-danger {
    background: $red;
  }
  &.inverted {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
    svg {
      fill: $blue;
    }
  }
  padding: 6px 12px;
  font-weight: bold;
  transition: background .5s, color .5s;
  min-height: 24px;
  &:hover, &:active {
    background: $gray-brown;
    color: $white;
    border-color: $gray-brown;
    svg {
      fill: $white;
      transition: fill .5s;
    }
  }
  &:focus:not(.inverted) {
    color: $white;
  }
  &:disabled {
    pointer-events: none;
  }
  &:not(.tab-button) {
    border-radius: .25em;
    margin: .5em;
  }
  svg {
    fill: $white;
    float: right;
    width: 1.5em;
    height: 100%;
    margin-left: 1em;
    vertical-align: middle;
  }
}
