%hoverActiveState {
  background: $gray-brown;
  color: $white;
  border-color: $gray-brown;
  svg {
    fill: $white;
    transition: fill .5s;
  }
}

button.btn, a.btn {
  display: block;
  color: $white;
  transition: background .5s, color .5s;
  background: $blue;
  margin: .5em;
  border-radius: .25em;
  font-size: 16px;
  padding: 6px 12px;
  font-weight: bold;
  min-height: 24px;

  &:hover, &:active {
    @extend %hoverActiveState;
  }

  &.danger {
    @include hoverActiveBtnState($red);
  }
  &.success {
    @include hoverActiveBtnState($green-bright);
  }
  &.inverted {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
    svg {
      fill: $blue;
    }
    &:hover, &:active {
      @extend %hoverActiveState;
    }
  }
  &.transparent {
    background-color: transparent;
    color: $black;
    font-weight: normal;
    padding: 0;
    svg {
      fill: $black;
      height: .7em;
      width: .7em;
    }
    &:hover, &:active {
      color: $black;
      border-color: transparent;
    }
  }

  &:focus {
    color: $white;
    &.inverted, &.transparent {
      color: $blue;
    }
  }
  &:disabled {
    pointer-events: none;
  }
  &.left-align {
    margin-left: 0;
  }
  &.right-align {
    margin-right: 0;
  }
  &.top-align {
    margin-top: 0;
  }
  &.bottom-align {
    margin-bottom: 0;
  }
  &.inline {
    display: inline-block;
  }
  &.centered {
    margin: auto;
    font-size: 1.2vw;
    width: 25vw;
    border: 1px solid $blue;
    &:hover {
      border-color: $gray-brown;
    }
  }
  &.squared {
    border-radius: 0;
  }
  &.bottom-squared {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
  }
  &.big {
    font-size: 18px;
  }
  &.small {
    font-size: 14px;
    svg {
      height: .8em;
      float: unset;
      vertical-align: unset;
      margin-left: .5em;
    }
  }

  svg {
    fill: $white;
    float: right;
    width: 1.4em;
    height: 100%;
    margin-left: .8em;
    vertical-align: middle;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
