$green-tint: #F3F7E6;
$green-bright: #008918;
$medium-gray: #DDD;

// Some NYPL specific colors: https://nypl.github.io/design-toolkit/sections/color.html.
$red: #D0343A;
$red-dark: #97272C;
$light-gray: #D7D4D0;
$dark-gray: #080807;
$gray-tint: tint($light-gray, 75);
$gray: #776E64;
$gray-brown: #54514A;
$black: #111;
$blue: #1B7FA7;
$blue-dark: #135772;
$light-blue: #73C7E8;
$blue-tint: #D1E5ED;
$green: #799A05;
$green-dark: #497629;
$yellow: #FEE24A;
$yellow-tint: #FFF1A5;
$orange: #FFB81D;
$orange-desaturated: #D2A74A;

// field error bg
$red-error: tint($red, 80%);
$red-tint: #DE7175;
