.detail-content {
  padding: 20px;
  .list-group {
    margin-bottom: 0;
    .list-group-item {
      border-radius: 0;
    }
  }
  .list-group-item:nth-child(even) {
    background-color: $gray-tint;
  }
}
