form {
  padding: 10px;
  width: 40%;
  border-radius: 0;
  
  legend {
    font-size: 1em;
    border-bottom: none;
    margin-bottom: 10px;

    span {
      background: $blue;
      padding: .25em .5em;
      border-radius: .25em;
      color: $white;
    }

    .label {
      float: right;
      margin: 0;
      line-height: normal;
      padding-top: .25em;
      padding-bottom: .25em;
    }
  }

}

.list-group {
  margin-bottom: 0;
  .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

.list-group-item:nth-child(even) {
  background-color: tint($light-gray, 75);
}
