form {
  padding: 20px;
  width: 40%;
  border-radius: 0;

  legend {
    font-size: 1em;
    border-bottom: none;
    margin-bottom: 10px;

    span {
      background: $blue;
      padding: .25em .5em;
      border-radius: .25em;
      color: $white;
    }

    .label {
      float: right;
      margin: 0;
      line-height: normal;
      padding-top: .25em;
      padding-bottom: .25em;
    }
  }

  .btn {
    background: $blue;
    border-radius: .25em;
    font-weight: bold;
    transition: background 1s, color 1s;
  }

}
