nav.navbar-default {
  background-color: $blue;
  border-radius: 0;
  padding: 20px;
  h1.navbar-header {
    color: $white;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    &:hover {
      color: $white;
    }
  }
}
