header.reusable-header {
  display: flex;
  align-items: center;
  background-color: $blue;
  border-radius: 0;
  padding: 20px;

  .header-title {
    flex-grow: 1;
    color: $white;
    font-size: 1.5em;
    margin: 0 1em;
    height: 40px;
    padding: 5px;
    &:hover {
      color: $white;
    }
  }
  .header-brand {
    background: $white;
    padding: 5px;
    height: 40px;
  }

  .header-btn {
    margin: 0;
    &:hover {
      span {
        color: $white;
      }
    }
  }

  nav {
    margin-right: 20px;

    ul {
      list-style: none;
      li {
        float: left;

        a {
          padding: 5px;
          font-size: 1.2em;
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
