header.reusable-header {
  background-color: $blue;
  border-radius: 0;
  padding: 20px;

  > span {
    display: block;
    float: left;
    line-height: 2;
    color: $white;
    font-size: 1.5em;
    margin: 0 1em;
    height: 40px;
    &:hover {
      color: $white;
    }
  }
  .header-brand {
    background: $white;
    padding: 5px;
    height: 40px;
  }

  .header-btn {
    float: right;
    margin: 0;
    &:hover {
      span {
        color: $white;
      }
    }
  }
}
