.libraries-list-container {
  width: 90%;
  margin: 30px auto;
}

.panel-title {
  padding: 5px;
}

.panel-title a {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  color: $dark-gray;
}
