/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}

$white: #FFF;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

/* basic-focus
 */
@mixin basic-focus {
  box-shadow: 1px 1px 1px 1px darken($focuscolor, 10%);
  outline-color: $focuscolor;
  outline-style: solid;
  outline-width: 3px;
}

@mixin hoverActiveBtnState($color) {
  background: $color;

  &:hover,
  &:active {
    background: $white;
    color: $color;
    border-color: $color;
    svg {
      fill: $color;
      transition: fill .5s;
    }
  }
}