/**
 * Storybook style overrides
 */

// To make the `withInfo` proptype table readable.
table {
  border: 1px solid;

  th, td {
    padding: 5px;
    border: 1px solid;
  }
}

.button-placement {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(22, 25px);
  grid-template-rows: repeat(3, 60px);
  .button-container {
    display: grid;
    border: 2px dashed black;
  }
  .button-container:nth-child(1) {
    grid-column: 1 / 6;
  }
  .button-container:nth-child(2) {
    grid-column: 6 / 11;
  }
  .button-container:nth-child(3) {
    grid-column: 11 / 16;
  }
  .button-container:nth-child(4) {
    grid-column: 16 / 22;
  }
  .button-container:nth-child(5) {
    grid-column: 12 / 22;
    grid-row-start: 2;
  }
  .button-container:nth-child(6) {
    grid-column: 1 / 22;
    grid-row-start: 3;
    align-self: center;
  }
}

form {
  &:not(.border) {
    border: 3px dashed #ccc;
  }
  &.inline {
    margin-top: 40px;
    border: unset;
  }
  input[type="radio"] {
    margin: 0 20px 20px 10px;
  }
  select {
    display: block;
    margin: 20px 0;
  }
  &.border {
    fieldset {
      margin: 8px;
      input {
        display: block;
      }
    }
  }
}
